.home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 0 100px;
}

.home-container img {
    width: 500px;
    height: 700px;
}

.title-name-headphone {
    color: rebeccapurple;
}

.product-container h1 {
    font-weight: 900;
    font-size: 50px;
}

.review-title {
    text-align: center;
    color: #FF6666;
}

.review-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;
    margin-top: 40px;
    padding: 40px;
}

.button-reviews a {
    text-decoration: none;
    color: white;
}

.button-reviews a:hover {
    color: gainsboro;
}