.home-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    margin: 0 100px;
}

.home-container img {
    width: 500px;
    height: 700px;
}

.product-container h1 {
    color: black;
    font-weight: bolder;
}

.review-title {
    text-align: center;
}

.review-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    text-align: center;
    margin-top: 40px;

}